.element {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.element:last-child {
  margin-bottom: 0;
}

.element_fullwidth {
  display: flex;
  flex-direction: column;
  width: 536px;
  max-width: none;
}

.element > :first-child {
  position: absolute;
  right: 544px;
  width: 24px;
}

.element > :first-child > button {
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
}
